.list_ofClasses
{
 text-emphasis: none;
}

.list_ofClasses .class_origin .title
{
 font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif; 
 font-size: larger;
 text-decoration: underline;
 font-weight: bold;
 text-align: center; 
}

.class_colorA, .class_colorB
{
 display: flex;
 align-items: flex-start;
}

.class_colorA, .class_colorB
{
 align-items: center;
}

.class_colorA
{
 background-color: aliceblue;   
}

.class_colorA a, .class_colorB a
{
 font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;    
 font-size: larger;
 text-decoration: none;
}

.class_colorA p, .class_colorB p
{
 font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;    
 font-size: smaller;
 text-decoration: none;
}

