.featsList a
{
 font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;    
 font-size: larger;
 text-decoration: none; 
 color: #134191;
}

.featsList a:hover
{
 text-decoration: underline;   
}

.featsList p
{   
 font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;    
 font-size: smaller;
 text-decoration: none;
 font-style: italic;
}