/* PADRONIZANDO A PÁGINA COMPLETA */
* 
{
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}



/* TEXTO DA BARRA DE DESCRIÇÃO */
.bar_section
{
 display: flex;
 align-items: center;
 background-color: #333;
 padding: 10px 5px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* TEXTO DA BARRA DE DESCRIÇÃO DO SITE */
.bar_section .page_title
{ 
 color: #69ebcf;
 font-size: larger;
 font-weight: bold;
 font-style: normal;
}

.bar_section .page_descr
{ 
 color: #96a7a3;
 font-style: italic;
 font-size: small;
}


/* TEXTO DA BARRA DE DESCRIÇÃO */
.bar_title
{
 display: flex;
 align-items: center;
 background-color: #333;
 padding: 10px 5px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* TEXTO DA BARRA DE DESCRIÇÃO */
.bar_page 
{
 display: flex;
 align-items: center;
 background-color: #333;
 padding: 10px 5px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* BOTÕES DA BARRA DE OPÇÕES */
.bar_page .div_buttons
{
 display: flex;
}

.bar_page .div_return
{
 position: relative;
 margin-right: 20px;  
 display: flex; 
}

.bar_page .div_return a
{
 color: #FFF;
 text-decoration: none;
 padding: 5px 10px;
 display: block;
}

.bar_page .div_return a:hover
{
 color: cornflowerblue;
}

.bar_page .div_option
{
 position: relative;
 margin-right: 20px;   
}

.bar_page .div_option a
{
 color: antiquewhite;
 text-decoration: none;
 padding: 5px 10px;
 display: block; 
}

.bar_page .div_option .selected_option
{
 text-decoration: underline;   
}

.bar_page .div_option .selected_sub_option
{
 text-decoration: underline;   
}

.bar_page .div_option:hover a
{
 color: cornflowerblue;   
}

/* ESTILO DO SUBMENU */
.bar_page .div_option ul
{
 display: none;
 position: absolute;
 background-color: #444444;
 list-style: none;
 padding: 10px 0;
 margin: 0;
 top: 100%;
 left: 0;
 min-width: 150px;
 border-radius: 4px;
 z-index: 1000;   
}

.bar_page .div_option .sub li
{
 padding: 5px 10px; 
}

.bar_page .div_option .sub li a
{
    color: antiquewhite;
    display: block;
}

.bar_page .div_option .sub li a:hover
{
 color: cornflowerblue;
}

/* Exibir o submenu no hover */
.bar_page .div_option:hover .sub 
{
 display: block;
}

/* BUSCA DA BARRA DE OPÇÕES */
.bar_page .div_search
{ 
 border: 1px solid #123; 
 margin-left: auto;
 border-radius: 10%;
}



/* DIVISÕES */

.div_sections 
{
 display: flex;   
 flex-wrap: wrap;
}

.div_sections .section_block
{
 text-align: center;
}
