/* PADRONIZANDO A PÁGINA COMPLETA */
* 
{
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}


/* TEXTO DA BARRA DE DESCRIÇÃO */
.bar_page 
{
    display: flex;
    align-items: center;
    background-color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 5px;
}


/* BOTÕES DA BARRA DE OPÇÕES */
.bar_page .div_buttons
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.bar_page .div_option
{
 position: relative;
 margin-right: 20px;   
}

.bar_page .div_option a
{
 color: antiquewhite;
 text-decoration: none;
 padding: 5px 10px;
 display: block; 
}

.bar_page .div_option:hover a
{
 color: cornflowerblue;   
}

/* ESTILO DO SUBMENU */
.bar_page .div_option ul
{
 display: none;
 position: absolute;
 background-color: #444;
 list-style: none;
 padding: 10px 0;
 margin: 0;
 top: 100%;
 left: 0;
 min-width: 150px;
 border-radius: 4px;
 z-index: 1000;   
}

.bar_page .div_option .sub li
{
 padding: 5px 20px; 
}

.bar_page .div_option .sub li a
{
    color: antiquewhite;
    text-decoration: none;
    display: block;
}

.bar_page .div_option .sub li a:hover
{
    color: cornflowerblue;
}

/* Exibir o submenu no hover */
.bar_page .div_option:hover .sub 
{
 display: block;
}

/* BUSCA DA BARRA DE OPÇÕES */
.bar_page .div_search
{ 
 border: 1px solid #123; 
 margin-left: auto;
 border-radius: 10%;
}



/* DIVISÕES */

.div_sections 
{
 display: flex;   
 flex-wrap: wrap;
 background-color: #f5d572;
}

.div_sections .section
{
 text-decoration: none;
 color: #333;
 width: 120px;
}

.div_sections a:hover {
    color: #000;
}