/* MAIN DISPLAY */
.titleA
{
 font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif; 
 font-size: larger;
 text-decoration: underline;
 font-weight: bold;
 text-align: center;
 background-color: aliceblue;  
}

.lin_common, 
.lin_exotic, 
.lin_monstruous, 
.lin_termina
{
 padding-left: 1em;  
}

.lin_common p, 
.lin_exotic p, 
.lin_monstruous p, 
.lin_termina p
{
 font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;    
 font-size: smaller;
 text-decoration: none;
 margin-bottom: 1em;
 font-style: italic;
}

.lin_common a, 
.lin_exotic a, 
.lin_monstruous a, 
.lin_termina a
{
 font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;    
 font-size: larger;
 text-decoration: none;
 color: #134191;
}

.lin_common a:hover, 
.lin_exotic a:hover, 
.lin_monstruous a:hover, 
.lin_termina a:hover
{
 text-decoration: underline;   
}

.lin_common, .lin_monstruous
{
 background-color: aliceblue;   
}